<ul class="topnav">
  <li><a routerLink="/login">MiD Admin Portal</a></li>
  <li><a class="inactive" routerLink="/party">Party Listing</a></li> 
  <li><a class="inactive" routerLink="/party/{{partyId}}">{{party?.name}}</a></li>
  <li><a class="active">Submission</a></li>
  <li class="right"><a routerLink="/login">Logout</a></li>
</ul>

<h2>Submission ID: {{submissionId}}</h2>

<div class="container">
  <img class="profile-container" [src]="'data:image/jpg;base64,'+submissionData?.imageData | safeHtml" alt="Photo of man">
  <div class="info-container">
    <table class="info-table">
        <tr *ngFor="let field of submissionData?.submissionFields">
            <th>{{field.fieldTitle}}</th>
            <td>{{field.fieldEntry}}</td>
          </tr>    
      </table>
      <br>
      <div class="button-group">
        <button (click)='acceptRequest()'>Accept</button>
        <button (click)='rejectRequest()'>Reject</button>
      </div>
      <p>{{submissionMessage}}</p>
  </div>
</div>
