<ul class="topnav">
  <li><a>MiD Verification Portal</a></li>
  <li><a class="active" routerLink="/party">Party Listing</a></li>
  <li class="right"><a routerLink="/login">Logout</a></li>
</ul>

<h2>Submission ID: {{submissionId}}</h2>

<div class="container">
  <img class="profile-container" src="assets/man.jpg" alt="Photo of man">
  <div class="info-container">
    <table class="info-table">
        <tr>
          <th>First Name:</th>
          <td>Malcolm</td>
        </tr>
        <tr>
          <th>Surname:</th>
          <td>Wilkerson</td>
        </tr>
        <tr>
          <th>Date Of Birth:</th>
          <td>5/9/1989</td>
        </tr>
        <tr>
          <th>Address:</th>
          <td>12334 Cantura Street</td>
        </tr>
        <tr>
          <th>Driver Number:</th>
          <td>55577854</td>
        </tr>        
      </table>
      <br>
      <div class="button-group">
        <button (click)='acceptRequest()'>Accept</button>
        <button (click)='rejectRequest()'>Reject</button>
      </div>
      <p>{{submissionMessage}}</p>
  </div>
</div>
