.column {
  width: 33%;
  text-align: center;
}

.column-head{
  width: 33%;
}

.button-container {
	text-align: center;
}

.text-input{
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border:none;
  border-bottom:1px solid #ccc
}

.type-input{
  width: 47%;
  height: 40px;
  margin-bottom: 10px;
  border:none;
  border-bottom:1px solid #ccc
}
.type-select{
  padding:9px 0;
  width:48%;
  border:none;
  border-bottom:1px solid #ccc
}

.form-group p {
    margin:0px;
}

.add-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1e2763;
  border: 0;
  padding: 5px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-right: 5px;
}
.add-button:hover,.add-button:active,.add-button:focus {
  background: #1e2763;
}