<ul class="topnav">
  <li><a>NDLS Verification Portal</a></li>
  <li><a class="active">Submission Listing</a></li>
  <li class="right"><a href="/login">Logout</a></li>
</ul>

<div style="padding:0 16px;">
  <h2>Pending Submission Listings</h2>
  <table>
    <thead>
      <th>ID</th>
      <th>Date Submitted</th>
    </thead>
    <tr *ngFor="let submission of submissions">
      <th><a routerLink="/submissions/{{submission.id}}" routerLinkActive="active">{{submission.id}}</a></th>
      <th>{{submission.date}}</th>
    </tr>
  </table>
</div>
