<ul class="topnav">
  <li><a>NDLS Verification Portal</a></li>
  <li><a class="active">Submission Listing</a></li>
  <li class="right"><a href="/login">Logout</a></li>
</ul>

<div style="padding:0 16px;">
  <h2>Pending Submission Listings</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Date Submitted</th>
    </tr>
    <tr>
      <td><a routerLink="/submissions/123456789" routerLinkActive="active">123456789</a></td>
      <td>1/1/2018</td>
    </tr>
    <tr>
      <td><a routerLink="/submissions/123456789" routerLinkActive="active">123456789</a></td>
      <td>1/1/2018</td>
    </tr>
    <tr>
      <td><a routerLink="/submissions/123456789" routerLinkActive="active">123456789</a></td>
      <td>1/1/2018</td>
    </tr>
    <tr>
      <td><a routerLink="/submissions/123456789" routerLinkActive="active">123456789</a></td>
      <td>1/1/2018</td>
  </tr>
  </table>
</div>
